/*wat algemene stuff wat overal voor geldt */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0; 
}

html {
  scroll-behavior: smooth;
 }

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
 }

p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Neucha', cursive;
  font-size: 2em;
}

a {
  font-family: 'Lato', sans-serif;
}

/* landingsscreen */
body main section:nth-of-type(1) {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body main section div:nth-of-type(1) {
    height: 200px;
    width: 70vw;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -35vw;
    overflow: hidden;
}

body main section div h1 {
  text-align: center;
}

body main section div a img {
  width: 10vh;
  position: absolute;
  bottom: 1em;
}

body main section div:nth-of-type(2){
  text-align: center;
  margin-left: -10vh;
}

section:nth-of-type(2) {
  height: 100vh;
  width: 100vw;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  
  padding: 20vh 10vw 0 10vw;
}

section:nth-of-type(2) span {
  width: 40em;
  justify-content: center;
  padding: 0 5vw;
  flex-grow: 1;
}

section:nth-of-type(2) h2 {
  font-size: 3em;
  padding-bottom: 1em;
}

section:nth-of-type(2) p {
  font-size: 1.05em;
  padding-bottom: 1.5em;
}

section:nth-of-type(2) a {
  font-weight: 600;
  font-size: 1.1em;
}

section:nth-of-type(2) img {
  width: 30rem;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.ani {
  animation: flickerAnimation 3s infinite;
}

.aaa {
  transition: ease-in 2s;
}

/* classes */

